    <div><h1>To-Do List</h1></div>
  <div id='massContainer'>
    <div>
      <h2>To - dos </h2>
    <div ng-repeat="todo in todos | filter: state = 'ok' "class="todoContainer">
      <ul >
        <li>
          Title: {{ todo.title }}
        </li>
        <li>
          Author: {{ todo.author }}
        </li>
        <li>
          dueDate: {{ todo.dueDate }}
        </li>
        <li>
          story: {{ todo.story }}
        </li>
        <li>
          state: {{ todo.state }}
        </li>
      </ul>
    </div>
  </div>
   <div>
      <h2> Doing </h2>
      <ul ng-repeat="todo in todos">
    <div class="doingContainer">
        <li>
          Title: {{ todo.title }}
        </li>
        <li>
          Author: {{ todo.author }}
        </li>
        <li>
          dueDate: {{ todo.dueDate }}
        </li>
        <li>
          story: {{ todo.story }}
        </li>
        <li>
          state: {{ todo.state }}
        </li>
    </div>
      </ul>
  </div>
 <div>
      <h2>Done </h2>
      <ul ng-repeat="todo in todos">
    <div class="doneContainer">
        <li>
          Title: {{ todo.title }}
        </li>
        <li>
          Author: {{ todo.author }}
        </li>
        <li>
          dueDate: {{ todo.dueDate }}
        </li>
        <li>
          story: {{ todo.story }}
        </li>
        <li>
          state: {{ todo.state }}
        </li>
    </div>
      </ul>
  </div>
</div>